.elementor-99 .elementor-element.elementor-element-4c10af7 .elementor-image img{width:100%;max-width:100%;}.elementor-99 .elementor-element.elementor-element-329af1d > .elementor-container{max-width:1600px;}